body{
    padding-left: 20px;
}
.tabla-estilo {
   border-collapse:  collapse;
   width: 80%;
   margin-top:  20px;
   background-color:   rgb(70, 85, 223);
}

.tabla-estilo,  .tabla-estilo  th,  .tabla-estilo  td  {
border:  1px solid  #913030;
padding: 10px;
text-align: left;
}